<h1 class="title"><%=@planet.name%></h1>

<div class="informations_planetes">
  <div class="container_infos">
    <h3>Localisation : </h3>
    <h3 class="donnees"><%=@planet.localisation%></h3>
  </div>
  <div class="container_infos">
    <h3>Type : </h3>
    <h3 class="donnees"><%=@planet.planet_type%></h3>
  </div>
  <div class="container_infos">
    <h3>Niveau de sécurité : </h3>
    <h3 class="donnees"><%=@planet.safety%></h3>
  </div>
</div>
<div class="informations_planetes">
  <div class="planet" id="planet_show"><%cl_image_tag @planet.photo.key%></div>
  <div class="description"><%=@planet.description%></div>
</div>

<div class="informations_planetes">
  <div class="proprietaire" id="infos_proprio">
    <img class="avatar_proprio" src="https://i.skyrock.net/9056/70029056/pics/2792109335_1.jpg">
    <div class="container_infos">
      <h3>Propriétaire : </h3>
      <h3 class="donnees"><%=@planet.user['first_name']%> <%=@planet.user['last_name']%></h3>
    </div>
    <div class="biography"><%=@planet.user['biographie']%></div>
  </div>

  <div class="container_infos">
    <h3>Prix : </h3>
    <h3 class="donnees"><%=@planet.prix%> CR</h3>
  </div>
</div>

<div class="bottom_view">
  <%= link_to "Home", planets_path, class: "btn btn-flat" %>
  <%= link_to "Réserver", "#", class: "btn btn-flat" %>
</div>
