
<h3 style=text-align:center>Mon compte</h3>

<div class="contenaire" class='container_infos'>
  <div class="card_user">
    <div class="user_image">
      <div class="container"><%= cl_image_tag @user.photo.key, height: 200, width: 180, :crop => :fill, :radius=>"max", :gravity=>"faces" %></div>
    </div>
    <div class="user_bio">
      <div class="container_infos">
        <div>Nom :</div>
        <div class="donnees"><%= @user.first_name %></div>
      </div>
      <div class="container_infos">
        <div>Prénom :</div>
        <div class="donnees"><%= @user.last_name %></div>
      </div>
      <div class="container_infos">
        <div>Email :</div>
        <div class="donnees"><%= @user.email%></div>
      </div>
    </div>
    <div class="user_infos">
      <h5>Ma biographie</h5>
      <div class="container_infos"><%= @user.biographie %></div>
    </div>
  </div>

  <div class="dasboard" class='container_infos'>
    <div class="planet_owner">
      <div>
       <h3>Mes planètes</h3>
        <div>
          <% @current_user.planets.each do |planet|%>
            <div class="container_infos">
              <div class="container_links">
                <%= link_to planet_path(planet) do %>

                  <%= planet.name %>
                <%end%>
              </div>
              <div class="container_links">
                <%= link_to "Editer", edit_planet_path(planet) %>
              </div>
              <div class="container_links">
                <%= link_to "Supprimer", planet_path(planet), method: :delete %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="planet_user" class="dasboard">
      <div>
        <h3>Mes réservations</h3>
        <% @current_user.locations.each do |location|%>
          <div class="container_infos">
            <div class="container_links">
              <%= location.planet['name'] %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    </div>
    <div class='btn btn-flat' id='btn-creer'><%= link_to "Créer planète", new_planet_path %></div>
  </div>
</div>
